html {
  font-size: 100%;
  scroll-behavior: smooth; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  margin: 0;
  color: #516677; }

#sidebarMenu {
  display: none; }

.sidebarIconToggle {
  display: none; }

.openSidebarMenu {
  display: none; }

nav {
  display: flex;
  flex-direction: row;
  background-color: #D3E4D8;
  padding: 1em 0.5em;
  height: 25vh; }
  nav .logo {
    flex: 1; }
    nav .logo img {
      height: 100%; }
  nav .not-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 5; }
    nav .not-logo .contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #379B56; }
      nav .not-logo .contact i {
        flex: 1;
        font-size: 5em;
        align-self: center;
        text-align: center; }
      nav .not-logo .contact .phone-numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex: 3; }
        nav .not-logo .contact .phone-numbers div {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold; }
          nav .not-logo .contact .phone-numbers div .location {
            color: #37659B;
            font-size: 1.5em; }
          nav .not-logo .contact .phone-numbers div .number {
            font-size: 2.5em;
            margin-top: 10px;
            text-decoration: none;
            color: #379B56;
            cursor: default; }
    nav .not-logo .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 2em; }
      nav .not-logo .navigation a {
        text-decoration: none;
        color: #737373; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E9ED;
  padding: 1em 2em 0 2em;
  font-size: 1em; }
  .intro h1 {
    color: #737373;
    font-size: 3.5em;
    line-height: initial;
    margin: 15px 0; }
  .intro h2 {
    color: #37659B;
    margin: 0;
    font-size: 1.8em; }
  .intro p {
    text-align: justify;
    font-size: 2em;
    line-height: initial; }
  .intro .stars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 4em;
    row-gap: 1em;
    width: 100%;
    font-size: 1.5em; }
    .intro .stars .star {
      display: flex;
      align-items: center;
      font-weight: bold; }
      .intro .stars .star .star-icon {
        height: 50px; }
        .intro .stars .star .star-icon img {
          height: 100%; }
  .intro .compliments {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
    .intro .compliments .compliment {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .intro .compliments .compliment .compliment-icon img {
        height: 5em; }
  .intro .signboard {
    margin-top: 2em; }

.signboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%; }
  .signboard .whatsapp {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    text-align: center;
    line-height: 1.3em;
    cursor: pointer;
    text-decoration: none;
    color: #737373; }
    .signboard .whatsapp i {
      color: #379B56;
      font-size: 5em;
      align-self: center; }
  .signboard .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    background-color: #545454;
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
    border-radius: 20px 20px 0 0; }
    .signboard .sign .neon {
      color: #379B56;
      text-shadow: 0 0 10px #379B56, 0 0 21px #379B56; }

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100%; }
  .call-to-action .callout {
    color: #379B56;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 10px #379B56, 0 0 21px #379B56;
    background-color: #545454;
    border-radius: 20px 20px 0 0;
    width: fit-content;
    padding: 0 2em; }
  .call-to-action .form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #37659B;
    border-radius: 20px;
    padding: 2em 0;
    margin-bottom: 2em; }
    .call-to-action .form input {
      font-size: 1.5em;
      text-align: center;
      padding: 0.5em 0;
      width: 20%;
      border: none;
      border-radius: 10px; }
    .call-to-action .form button {
      width: 20%;
      font-size: 1.5em;
      color: white;
      background-color: #379B56;
      border: none;
      border-radius: 10px;
      cursor: pointer; }

.treatments {
  display: flex;
  flex-direction: column;
  background-color: #D3E4D8;
  padding-bottom: 2em; }
  .treatments h1 {
    color: #379B56;
    text-align: center;
    font-size: 3.5em;
    line-height: initial;
    margin: 0;
    padding: 1em 0; }
  .treatments .callout {
    align-self: center;
    width: 20%;
    padding: 0.5em;
    border: none;
    border-radius: 15px;
    background-color: #379B56;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em; }

.gallery {
  margin-bottom: 3em;
  /* small buttons, no circle */
  /* arrow color */ }
  .gallery .gallery-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30%;
    margin-right: 10px;
    cursor: pointer; }
    .gallery .gallery-cell img {
      width: 90%;
      border-radius: 15px; }
    .gallery .gallery-cell button {
      width: 90%;
      background-color: #379B56;
      color: white;
      margin-top: 1em;
      border: none;
      border-radius: 5px;
      padding: 1rem 0;
      cursor: pointer; }
  .gallery .flickity-page-dots {
    display: none; }
  .gallery .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent; }
  .gallery .flickity-prev-next-button .arrow {
    fill: var(--blue-green-1); }

.different {
  display: flex;
  flex-direction: row;
  background-color: #E5E9ED;
  padding: 1em;
  font-size: 1.5em; }
  .different .left {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    flex: 5; }
    .different .left .top {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center; }
      .different .left .top h2 {
        margin: 0;
        line-height: 1.5em;
        color: #37659B; }
      .different .left .top .whatsapp {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        color: #737373; }
        .different .left .top .whatsapp i {
          font-size: 2.5em;
          color: #379B56; }
        .different .left .top .whatsapp span {
          font-size: 1rem;
          line-height: 1rem; }
    .different .left .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.3em;
      margin: 0.5em 0;
      color: #545454; }
      .different .left .item .icon {
        flex: 1; }
        .different .left .item .icon img {
          width: 100%; }
      .different .left .item span {
        flex: 10; }
  .different .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    color: #37659B;
    background: no-repeat center/90% url("/public/images/phone.png"); }
    .different .phone h2 {
      padding: 0 2.5em;
      margin: 2em 0 0.5em 0;
      text-align: center; }
    .different .phone input {
      background-color: #E5E9ED;
      color: #37659B;
      height: 2em;
      width: 10em;
      margin: 0.5em 0;
      border-radius: 15px;
      border: none;
      text-align: center;
      font-size: 1em; }
      .different .phone input::placeholder {
        color: #37659B;
        text-align: center;
        line-height: normal; }
    .different .phone button {
      border: none;
      border-radius: 15px;
      background-color: #379B56;
      color: white;
      font-size: 1em;
      padding: 0.5em 1em; }

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1.5em 0 1.5em;
  font-size: 1em;
  background-color: #D3E4D8; }
  .team h1 {
    color: #379B56;
    font-size: 3.5em; }
  .team .members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 80%; }
    .team .members .member {
      flex: 0 0 calc(22.66% - 20px);
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1em; }
      .team .members .member .image {
        flex: 2; }
        .team .members .member .image img {
          border-radius: 15px;
          border: 5px #379B56 solid;
          width: 100%; }
      .team .members .member span {
        flex: 1;
        line-height: 1em;
        color: #545454; }
  .team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2em; }
    .team .container .callout {
      background-color: #37659B;
      color: #379B56;
      font-size: 1.5em;
      padding: 0 2em;
      border-radius: 15px 15px 0 0; }

.testimonies {
  background-color: #E5E9ED;
  padding: 2em 1em; }
  .testimonies h1 {
    color: #37659B;
    text-align: center;
    font-size: 3.5em;
    line-height: initial; }
  .testimonies .footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .testimonies .footer .more-testimonies {
      background-color: #379B56;
      color: white;
      font-size: 1.5em;
      padding: 0.5em 1.5em;
      text-decoration: none;
      text-align: center;
      border: none;
      border-radius: 15px;
      cursor: pointer; }
    .testimonies .footer .call-to-action .callout {
      padding: 0.5em 2em;
      color: #379B56;
      text-shadow: 0 0 10px #379B56, 0 0 21px #379B56; }
    .testimonies .footer .find-us {
      display: flex;
      flex-direction: row; }
      .testimonies .footer .find-us .side {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .testimonies .footer .find-us .side .image {
          width: 30%; }
          .testimonies .footer .find-us .side .image img {
            width: 100%; }
        .testimonies .footer .find-us .side iframe {
          width: 22em;
          height: 300px; }
      .testimonies .footer .find-us .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .testimonies .footer .find-us .middle h1 {
          margin: 0.5em 0; }
        .testimonies .footer .find-us .middle .image {
          width: 50%; }
          .testimonies .footer .find-us .middle .image img {
            width: 100%; }
        .testimonies .footer .find-us .middle span {
          color: red;
          font-size: 1em;
          text-align: center; }

@media (max-width: 480px) {
  .gallery .gallery-cell {
    width: 80%; }
  .gallery .flickity-prev-next-button {
    display: none; }
  .signboard {
    width: 100%;
    align-items: center; }
    .signboard .sign {
      text-align: center;
      font-size: 2em;
      line-height: inherit;
      height: 100%; }
  #sidebarMenu {
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    z-index: 98;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background-color: #37659B; }
    #sidebarMenu .sidebarMenuInner {
      margin: 0;
      padding: 0;
      border-top: 1px solid rgba(47, 148, 142, 0.1); }
      #sidebarMenu .sidebarMenuInner li {
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 18px;
        cursor: pointer;
        border-bottom: 1px solid rgba(47, 148, 142, 0.1); }
        #sidebarMenu .sidebarMenuInner li a {
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          text-decoration: none; }
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none; }
    input[type=checkbox]:checked ~ #sidebarMenu {
      transform: translateX(0);
      position: fixed; }
    input[type=checkbox]:checked ~ .sidebarIconToggle .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0; }
    input[type=checkbox]:checked ~ .sidebarIconToggle .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px; }
    input[type=checkbox]:checked ~ .sidebarIconToggle .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px; }
  .sidebarIconToggle {
    display: block;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 28px;
    right: 15px;
    height: 22px;
    width: 22px; }
    .sidebarIconToggle .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #fff; }
      .sidebarIconToggle .spinner.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px; }
      .sidebarIconToggle .spinner.diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left; }
      .sidebarIconToggle .spinner.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px; }
  nav {
    font-size: 0.33em;
    height: fit-content;
    align-items: center; }
    nav .logo {
      height: 10em; }
    nav .not-logo .contact i {
      flex: none; }
    nav .not-logo .contact .phone-numbers {
      flex: none; }
      nav .not-logo .contact .phone-numbers div {
        margin: 0 1em; }
        nav .not-logo .contact .phone-numbers div .number {
          margin: 0;
          line-height: normal; }
        nav .not-logo .contact .phone-numbers div .location {
          line-height: normal; }
    nav .not-logo .navigation {
      display: none; }
  .intro {
    padding: 0;
    font-size: 0.5em; }
    .intro p {
      margin: 0 10px; }
    .intro .stars {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-gap: 0;
      font-size: 1.3em; }
    .intro .call-to-action .callout {
      line-height: normal; }
    .intro .compliments {
      flex-wrap: wrap; }
      .intro .compliments .compliment {
        flex: 1; }
        .intro .compliments .compliment .compliment-icon img {
          height: 11em; }
        .intro .compliments .compliment span {
          font-size: 1.5em; }
  .treatments {
    font-size: 0.5em; }
    .treatments .callout {
      font-size: 2em;
      width: 50%; }
  .different {
    font-size: 0.5em;
    flex-direction: column; }
    .different .left .top {
      align-items: center; }
      .different .left .top h2 {
        font-size: 3.5em; }
    .different .left .item {
      align-items: center;
      flex-direction: column; }
      .different .left .item .icon {
        display: flex;
        justify-content: center;
        align-items: center; }
        .different .left .item .icon img {
          width: 20%; }
      .different .left .item span {
        font-size: 2em;
        text-align: center; }
    .different .phone {
      height: 475px;
      font-size: 1rem;
      flex: none; }
      .different .phone input {
        width: 15em; }
  .team {
    font-size: 0.5em;
    padding: 0; }
    .team .members {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      width: 100%; }
      .team .members .member {
        min-width: 150px; }
        .team .members .member .image img {
          width: 80%; }
        .team .members .member span {
          font-size: 2em; }
  .testimonies {
    font-size: 0.5em; }
    .testimonies .footer .more-testimonies {
      font-size: 2em; }
    .testimonies .footer .find-us {
      flex-direction: column; }
      .testimonies .footer .find-us .side span {
        font-size: 2em; }
      .testimonies .footer .find-us .side iframe {
        width: 95%; }
      .testimonies .footer .find-us .middle .image {
        width: 25%; }
      .testimonies .footer .find-us .middle span {
        font-size: 2em; } }

@media (max-width: 400px) {
  nav .not-logo .contact i {
    display: none; }
  .different .phone {
    background: no-repeat center/100% url("/public/images/phone.png"); } }
